# require_serial: true in pre-commit configurations means that the hook must be run sequentially (one at a time) rather
# than in parallel with other hooks.
#
# This is particularly important for tools like mypy because:
#
# Mypy performs whole-project type checking and needs to analyze dependencies between files
# Running multiple instances of mypy simultaneously could lead to race conditions or inconsistent results
# Mypy maintains a cache of analysis results, and parallel runs might interfere with this cache
#
# By default, pre-commit tries to optimize performance by running hooks in parallel when possible. While this works well
# for simple hooks like code formatters that operate on individual files independently, it can cause issues with tools
# that need to understand the entire codebase as a single unit.
#
# In Particular, If you removed require_serial: true, you might occasionally see:
#
# Inconsistent type checking results
# Cache corruption
# Memory usage spikes from multiple mypy processes
# Race conditions when multiple instances try to write to the cache
#
# That's why it's recommended to keep require_serial: true for mypy hooks, even though it might make the pre-commit
# checks run slightly slower.
#
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: end-of-file-fixer
        types_or: [python, markdown, yaml, toml]
        files: \.(py|md|yaml|yml|toml)$
    -   id: detect-private-key
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    -   id: isort
        name: isort (python)
-   repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
    -   id: black
        language_version: python3.12
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            flake8-bugbear>=24.2.6,
            flake8-comprehensions>=3.14.0,
            flake8-simplify>=0.21.0,
            flake8-annotations>=3.0.1,
        ]
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        require_serial: true
    -   id: pytest
        name: pytest
        entry: poetry run pytest
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
        stages: [pre-commit]
